header {
  height: 3rem;
  background-color: #845ec2;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
  height: 100%;
  max-width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.custom-dropzone {
  height: auto;
  width: 34rem;
}

.blog-card {
  max-width: 550px;
  width: 100%;
  height: 500px;

  font-family: "Droid Serif", serif;
  color: #fff;
  top: 20%;
  right: 0;
  left: 0;

  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s;

  background-size: 100%;
}
.blog-card-no-image {
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}

button {
  padding: 10px;
  width: 10em;
  margin: 2rem auto;
  font-weight: 900;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #845ec2;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
}
